<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Image_Effect_Rainbow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{1,81},{43,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Image_Effect_Rainbow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{101,74},{47,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,52}</string>
                <key>spriteSourceSize</key>
                <string>{39,52}</string>
                <key>textureRect</key>
                <string>{{47,81},{39,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Image_Effect_Rainbow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{116,1},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{150,59},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,56}</string>
                <key>spriteSourceSize</key>
                <string>{36,56}</string>
                <key>textureRect</key>
                <string>{{156,1},{36,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{194,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{194,41},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{188,81},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,78}</string>
                <key>spriteSourceSize</key>
                <string>{53,78}</string>
                <key>textureRect</key>
                <string>{{1,1},{53,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Image_Effect_Rainbow_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,58}</string>
                <key>spriteSourceSize</key>
                <string>{71,58}</string>
                <key>textureRect</key>
                <string>{{56,1},{71,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>confetti.png</string>
            <key>size</key>
            <string>{233,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e7eb5216cc373cccb087d95c9aa0ee9:b4c59b3199693be4e1f17930c98f7da1:9b0e18716f8eef1eb922c39f10012451$</string>
            <key>textureFileName</key>
            <string>confetti.png</string>
        </dict>
    </dict>
</plist>
