<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_PictoIcon_Play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,71}</string>
                <key>spriteSourceSize</key>
                <string>{49,71}</string>
                <key>textureRect</key>
                <string>{{1,127},{49,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon_PictoIcon_Sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,61}</string>
                <key>spriteSourceSize</key>
                <string>{67,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icon_PictoIcon_Sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{60,55}</string>
                <key>textureRect</key>
                <string>{{1,70},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Icon.png</string>
            <key>size</key>
            <string>{63,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3cc4eac2f0e610aea1c9782c61da767:788c73faf20a44001b81ba8220be16d0:2c62d0830285c57320101bde2c9cd855$</string>
            <key>textureFileName</key>
            <string>Icon.png</string>
        </dict>
    </dict>
</plist>
